
body { width: 65%; margin: auto; }

.itemstable { width: 100%; }
.itemstable tr td input { width: 95%; }
.itemstable tr td select { width: 95%; }

.name_col { width: 20%; }
.desc_col { width: 44%; }
.cat_col { width: 10%; }
.st_col { width: 20%; }
.edit_col { width: 3%; }
.del_col { width: 3%; }

.image, img { height: 20px; width: auto; margin: auto; text-align: center; }

#newitem { margin: 0; padding: 0; }